@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*, *:after, *:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Montserrat;
}

:root {
    --color-yellow-button: #FBBA3C;
    --color-orange: #FF9702;
    --color-background: #E5E5E5;
    --color-grey-border: #E8E8E8;
    --color-white: #FFFFFF;
    --color-black: #000000;
}

button {
    cursor: pointer;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: var(--color-black);
}

.button-basket {
    height: 45px;
}

.button-basket-1 {
    height: 31px;
}

.button-basket, .button-basket-1, .button-small {
    background-color: var(--color-yellow-button);
    border-radius: 4px;
    border-color: transparent;
    width: 116px;
}

.button-small {
    width: 56px;
    height: 45px;
}

.label {
    cursor: pointer;
}

.checkbox {
    display: none;
}

.fake-checkbox {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
    background: var(--color-white);
    border: 1px solid var(--color-grey-border);
    border-radius: 4px;
}

.fake-checkbox::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 12px;
    height: 9px;
    background: url("assets/checkbox_checked.svg");
    opacity: 0;
    transition: .2s;
}

.checkbox:checked + .fake-checkbox::before {
    opacity: 1;
}
.text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-black);
}

.radio {
    display: none;
}

.fake-radio {
    position: relative;
    display: inline-block;
    width: 18px;
    height: 18px;
    background: var(--color-white);
    border: 2px solid var(--color-black);
    border-radius: 50%;
    opacity: 0.5;
}

.fake-radio::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 10px;
    height: 10px;
    background: url("assets/radio_checked.svg");
    opacity: 0;
    transition: .2s;
    border-radius: 50%;
}

.radio:checked + .fake-radio {
    border: 2px solid var(--color-yellow-button);
    opacity: unset;
}

.radio:checked + .fake-radio::before {
    opacity: 1;
}

.input-search {
    width: 139px;
    height: 45px;
    background: var(--color-white);
    border: 1px solid var(--color-yellow-button);
    border-radius: 4px;
}